*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none; 
    background-color:rgb(237, 231, 231) 
}
/* .flex{
    display: flex;
} */
.header{
    display: flex;
    justify-content:space-between;
}
a{
    color: black;
}
.header img{
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.header nav{
    margin-top: 20px;
    margin-right: 100px;
}
nav a{
    margin-right: 50px;
}
/* nav :after{
    content: "";
    display: flex;
    width: 1px;
    height: 15px;
    background-color: black;
    right: 25px;

} */
.equipe{
    margin-left: 130px;
    margin-top: 70px;
    color: #262626;
}
.txt{
    font-size: 25px;
    color: #262626;
    width: 535px;
    margin-left: 130px;
    margin-top: 50px;
}
.circle{
    position: relative;
}
.circle img{
    position: absolute;
    right: 10px;
    right: -69px;
    height: 760px;
}
.equipe2 h2{
    margin-left: 130px;
    margin-top: 165px;
    color: #262626;
}
.txt2{
    font-size: 25px;
    color: #262626;
    width: 535px;
    margin-left: 130px;
    margin-top: 50px;
}
.forpics{
    width: 1300px;
    height: 900px;
    background-color: white;
    margin: 100px;
    z-index: 1;
}