*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none; 
}
body{
    background-color: rgb(237, 231, 231);
}
/* .flex{
    display: flex;
} */
.header{
    display: flex;
    justify-content:space-between;
}
a{
    color: black;
}
.header img{
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.header nav{
    margin-top: 20px;
    margin-right: 100px;
}
nav a{
    margin-right: 50px;
}
/* nav :after{
    content: "";
    display: flex;
    width: 1px;
    height: 15px;
    background-color: black;
    right: 25px;

} */
.equipe{
    margin-left: 130px;
    margin-top: 70px;
    color: #262626;
}
.txt{
    display: flex;
    font-size: 25px;
    color: #262626;
    width: 535px;
    margin-left: 130px;
    margin-top: 50px;
    font-weight: 400;
}
.circle{
    display: flex;
}
.circle img{
    margin-left: 830px;
    height: 760px;
}
.equipe2 h2{
    margin-left: 130px;
    margin-top: -610px;
    color: #262626;
    display: flex;
}
.txt2{
    display: flex;
    font-size: 25px;
    color: #262626;
    width: 535px;
    margin-left: 130px;
    margin-top: 50px;
}
.forpics{
    width: 1300px;
    height: 700px;
    background-color: white;
    margin: 100px;
    display: flex;
    position: relative;
    border-radius: 0.5%;
}
.forpics2{
    display: flex;
    flex-wrap: wrap;
    background-color:white ;
}
.forpics2 img{
    height: 150px;
}
.forpics3{
    display: flex;
    background-color: white;
}
#pic1{
    margin-left: 320px;
    margin-top: 120px;
}
#NAME1{
    background-color: white;
    margin-top: 285px;
    margin-left: -125px;
}
#p_underpic1{
    margin-top: 310px;
    margin-left: -138px ;
    background-color: white;
    align-items: center;
}
#pic2{
    margin-top: 120px;
    margin-left: 121px;
}
#NAME2{
    background-color: white;
    margin-top: 285px;
    margin-left: -125px;
}
#p_underpic2{
    margin-top: 310px;
    margin-left: -138px ;
    background-color: white;
    align-items: center;
}
#pic3{
    margin-top: 120px;
    margin-left: 121px;
}
#NAME3{
    background-color: white;
    margin-top: 285px;
    margin-left: -125px;
}
#p_underpic3{
    margin-top: 310px;
    margin-left: -138px ;
    background-color: white;
    align-items: center;
}
#pic4{
    margin-left: 320px;
    margin-top: 0px;
}
#NAME4{
    background-color: white;
    margin-top: 165px;
    margin-left: -125px;
}
#p_underpic4{
    margin-top: 190px;
    margin-left: -138px ;
    background-color: white;
    align-items: center;
}
#pic5{
    margin-left: 121px;
    margin-top: 0px;
}
#NAME5{
    background-color: white;
    margin-top: 165px;
    margin-left: -125px;
}
#p_underpic5{
    margin-top: 190px;
    margin-left: -138px ;
    background-color: white;
    align-items: center;
}
#pic6{
    margin-left: 121px;
    margin-top: 0px;
}
#NAME6{
    background-color: white;
    margin-top: 165px;
    margin-left: -125px;
}
#p_underpic6{
    margin-top: 190px;
    margin-left: -138px ;
    background-color: white;
    align-items: center;
}